.country {
  color: var(--color);
  background-color: white;
  padding: 1em;
}
.country .flag {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.country .row, .ulist {
  padding: .75em 0;
  border-top: solid 2px gainsboro;
}
.country .row:first-of-type {
  border-top: none;
}
.country .row span:first-child, .ulist > p {
  font-weight: bold;
  padding-right: .5em;
}
.country .row span:last-child {
  float: right;
}
.country .ulist {display: flex;}
.ulist div {flex: 1;text-align: right;}
.ulist div > p {padding-bottom: 5px;}
.ulist div > p:last-child {padding-bottom: 0;}

.tourism {
  padding-left: 1em;
  box-sizing: border-box;
}